<section>
    <div class="container">
        <div class="content">
            <div class="media-info">
                <li 
                data-aos="fade-right"
            data-aos-duration="1000"
                ><a><i class="fab fa-facebook"></i> Facebook  </a></li>


                <li
                data-aos="fade-right"
                data-aos-duration="1500"
                ><a><i class="fab fa-instagram"></i> Instagra, </a></li>
                
                
                <li
                data-aos="fade-right"
                data-aos-duration="2000"
                ><a><i class="fab fa-twitter"></i>  Twitter  </a></li>
                
                
                <li
                data-aos="fade-right"
                data-aos-duration="2500"
                ><a><i class="fab fa-youtube"></i>   Youtube </a></li>
                
                
                <li
                data-aos="fade-right"
                data-aos-duration="3000"
                ><a><i class="fa-brands fa-tiktok"></i>   Tik-Tok </a></li>

            </div>
            <div class="image">
           <img src="../../../assets/radisson/16256-116474-f64513900_3xl.avif" alt="">
            </div>
        </div>
    </div>
</section>
