<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 hd_text hd_box1" >
                <p> <i class="fa-solid fa-phone"></i> 256 214 203 215</p>
                <p class="info_travon"><i class="fa-regular fa-envelope"></i> info&#64;travon.com  </p>
                <p> <i class="fa-solid fa-location-dot"></i>  9550 Bolsa Ave #126, United States </p>
            </div>
            <div class="col-md-6 hd_text text_second" >
                <p routerLink="/login"><i class="fa-regular fa-user"></i> <span> Login</span> / <span>Register</span>   </p>
       <div class="follow_us">
        <p>Follow Us :</p>
        <ul>
            <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a><i class="fa-brands fa-instagram"></i></a></li>
            <li><a><i class="fa-brands fa-twitter"></i></a></li>
            <li><a><i class="fa-brands fa-youtube"></i></a></li>

        </ul>
       </div>
            </div>
        </div>
    </div>
</section>
<app-navbar></app-navbar>


