<section>
    <div class="containers">

        <div class="cont_subscribe">
             <h1>Get Special Offers And More From Travon</h1>
             <p>Sign up now and get the best deals straight in your inbox!</p>
             <div class="input">
                <input type="text" placeholder="Email Address">
                <button>Subscribe</button>
             </div>
        </div>


     <div class="cont_info">
        <div class="cont_boxes box1"
         data-aos="fade-top"
         data-aos-duration="1000"

         >
           
          <img src="../../assets/lifeHotel/logo-footer.png" alt="">

          <p> <i class="fa-solid fa-phone-volume"></i>   +123 456 789 </p>
          <p> <i class="fa-regular fa-envelope"></i> example&#64;example.com</p>
          <p><i class="fa-solid fa-location-dot"></i>  New Jersey, America </p>

           <div class="social">
            <a > <i class="fa-brands fa-facebook"></i> </a>
            <a > <i class="fa-brands fa-instagram"></i> </a>
            <a > <i class="fa-brands fa-youtube"></i> </a>

           </div>
          </div>
  
  
          <div class="cont_boxes box2 links"
          data-aos="fade-top"
          data-aos-duration="2000"
          >
             
              <h3>Quick Links</h3> 
              
              <ul>
                <li><a><i class="fa-solid fa-arrow-right"></i>  About Us</a></li>
                <li><a><i class="fa-solid fa-arrow-right"></i>  Destionations</a></li>
                <li><a><i class="fa-solid fa-arrow-right"></i>  Tour</a></li>
                <li><a><i class="fa-solid fa-arrow-right"></i>  Blog</a></li>
                <li><a><i class="fa-solid fa-arrow-right"></i>  Contact Us</a></li>


              </ul>
    
            </div>
  
  
            <div class="cont_boxes box2 servic"
            data-aos="fade-top"
            data-aos-duration="2500"
            >
             
                <h3>Services</h3>   
                
                <ul>
                    <li><a><i class="fa-solid fa-arrow-right"></i> Room</a></li>
                    <li><a><i class="fa-solid fa-arrow-right"></i>  Restaourant</a></li>
                    <li><a><i class="fa-solid fa-arrow-right"></i>  Gallery</a></li>
                    <li><a><i class="fa-solid fa-arrow-right"></i>  Reservations</a></li>
    
    
                  </ul>
    
            </div>
  
  
            <div class="cont_boxes box4"
            data-aos="fade-left"
            data-aos-duration="3000"
            >
                
                <h3> Gallery Showcase </h3>
              <div class="box_image">

                <img src="../../assets/footer/img-84-1025x1536.jpg" alt="">
                <img src="../../assets/footer/img-85-1024x683 (1).jpg" alt="">
                <img src="../../assets/footer/isaac-martin-wH2aFGo-Rt0-unsplash-1024x683.jpg" alt="">
                <img src="../../assets/footer/marvin-meyer-fBdlytm6Hp8-unsplash-1024x683.jpg" alt="">
                <img src="../../assets/footer/mueen-agherdien-YG8dsHZxtU4-unsplash-1024x683.jpg" alt="">
                <img src="../../assets/footer/takafumi-yamashita-OjX9PWvbarc-unsplash.jpg" alt="">

              </div>   
    
            </div>
     </div>

    </div>
</section>
<div class="copyright">
    <p>Copyright  2023 Travon. All Rights Reserved.</p>
    <p>Terms of Use | Privacy Environmental Policy</p>
</div>



