section{
    width: 100%;
    margin-top: 170px;
}
.containers{
    width: 100%;
    margin: 0 auto;
    background-color: #1f2733;
    margin-top: 50px;
    position: relative;

   
}

.cont_subscribe{
    width: 70%;
    height: 250px;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: rgb(67, 186, 99);
    border-radius: 60px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}
.cont_subscribe p{
    font-size: 19px;
    margin-top: 10px;
}
.cont_subscribe h1{
    font-weight: bolder;
}
.input{
    width: 100%;
    text-align: center;
}
.input input{
    width: 35%;
    height: 50px;
    padding: 1px 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.input button{
    width: 140px;
    height: 50px;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    font-size: 19px;
}
.input button:hover{
    background-color:green;
    transition: .7s;
    color: black;

}



.cont_info{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.cont_boxes{
    
    padding: 30px 0 0 30px;

    height: 380px;
}
.box1{
    width: 25%;
}
.box2{
    width: 20%;
}
.box4{
    width: 30%;
}
.box1 img{
  width: 220px;
}
.box1 p{
    color: white;
    margin-top: 20px;
}
.box1 p:nth-child(3){
    position: relative;
    left: 25px;
}
.box1 p:nth-child(4){
    position: relative;
    left: 50px;
}

.box1 p i{
    font-size: 22px;
}
.social{
    margin-top: 40px;
}
.social a{
    color: white;
    text-decoration: none;
    margin-left: 10px;
    font-size: 22px;
    border: 1px solid gray;
    padding: 6px 19px;
    cursor: pointer;
    
}
.social a:hover{
  background-color: rgb(218, 202, 202);
  transition: .6s;
  color: black;
}

.box2{
    padding: 30px 60px;
}

.box2 h3{
     color: white;
     border-bottom: 2px solid green;
     display: inline-block;
     padding-bottom: 8px;
}
.box2 ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box2 ul li{
    margin-top: 15px;

}
.box2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.box2 ul li a:hover i{
    position: relative;
    right: 1px;
    transition: .6s;
    color: green;
}

.box2 ul li a i{
    position: relative;
    right: 7px;
}




.box3 h3{
    color: white;
}




.box4 h3{
    color: white;
    border-bottom: 2px solid green;
    display: inline-block;
    padding-bottom: 8px;
}


.cont_boxes .box_image{
    width: 100%;
    height: 60%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px;
   
}

.cont_boxes .box_image img{

    width: 110px;
    height: 95px;
}

.box_image img:hover{
    transform: scale(1.08);
    transition: .6s;
}


.copyright{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #283444;
}
.copyright p{
    color: white;
}


@media screen and (max-width:1350px) {
   

     .cont_subscribe p{
        font-size: 17px;
        margin-top: 8px;
    }
    .box1{
        width: 30%;
    }
    .box2{
        width: 30%;
    }
    .box4{
        width: 40%;
    }
    .servic{
        display: none;
    }
    .cont_subscribe h1{
        font-size: 32px;
        font-weight: bolder;
    }


    .cont_subscribe{
        height: 220px;
    }

    .cont_info{
     
        padding: 0 30px;
    }


    .cont_boxes .box_image{

        gap: 13px;

    }
    
  
}

@media screen and (max-width:1050px){

    .cont_subscribe{
        height: 200px;
    }

    .cont_subscribe h1{

         font-size: 28px;
    
    }
  
  .cont_boxes .box_image{
    gap: 12px;
}

.cont_boxes .box_image img{

    width: 90px;
    height: 90px;
}
}


@media screen and (max-width:950px){

    .cont_subscribe{
        width: 75%;
        height: 190px;
        padding: 15px;
    }

    .cont_subscribe h1{

         font-size: 24px;
    
    }
    .cont_subscribe p{
        font-size: 16px;
    }


    .cont_info{
        width: 100%;
        height: unset;
        display: flex;
    
        flex-direction: column;

        justify-content: center;

        align-items: center;
    }


    .cont_boxes{
    
        padding: 30px 0 0 30px;
    
        height: unset;
    }
    .box1{
        width: 100%;
        margin-top: 140px;
        text-align: center;
    }

  .box1 p:nth-child(2){
    position: relative;
    left: -150px;
    font-size: 26px;
  }
    .box1 p:nth-child(3){
        position: unset;
        font-size: 26px;

        
    }
    .box1 p:nth-child(4){
        position: relative;
        left: 150px;
        font-size: 26px;

    }


    .social{
        margin-top: 40px;
    }
    .social a{
        margin-left: 60px;
        position: relative;
        left: -30px;
    }

  .links{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box4{
    width: 100%;
    margin-top: 25px;
    padding: 15px 0px 35px 0;
    text-align: center;
  }
 

}

@media screen and (max-width:690px){
 .cont_subscribe h1{
   font-size: 19px;
 }
 .cont_subscribe button{
    font-size: 17px;
    width: 100px;
    height: 45px;
 }
 .cont_subscribe input{
    height: 45px;
    width: 50%;
 }





 .cont_subscribe{
    height: 200px;
}

.cont_subscribe h1{

     font-size: 28px;

}

.cont_boxes .box_image{
gap: 12px;
}

.cont_boxes .box_image img{

width: 90px;
height: 90px;
}
}


@media screen and (max-width:950px){

.cont_subscribe{
    width: 90%;
    height: 240px;
    padding: 15px;
}

.cont_subscribe h1{

     font-size: 21px;
     text-align: center;

}
.cont_subscribe p{
    font-size: 16px;
    text-align: center;
}


.box1 p:nth-child(2){
left: -90px;
font-size: 18px;
}
.box1 p:nth-child(3){
    position: unset;
    font-size: 18px;

    
}
.box1 p:nth-child(4){
    left: 50px;
    font-size: 18px;

}





.box4{
width: 70%;
margin-top: 25px;
padding: 15px 0px 35px 0;
text-align: center;
}
.box_image{
    position: relative;
    left: 0px;
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright p:nth-child(1){
   position: relative;
   left: -50px;
}
.copyright p:nth-child(2){
    position: relative;
    left: 50px;
 }

}

@media screen and (max-width:650px){
     .cont_subscribe{
        width: 100%;
        border-radius: unset;
     }
     .cont_subscribe h1{
        font-size: 19px;
     }


     



  .copyright {
    width: 100%;
  }
     .copyright p:nth-child(1){
      text-align: center;
      position: relative;
      left: 0;
     }
     .copyright p:nth-child(2){
      display: none;
      }



    .social a{
        margin-left: 15px;
        left: -20px;
    }


    .box4{
        width: 100%;

        }
      
}