



<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="../../../assets/lifeHotel/slide1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Welcome To </h5>
          <h2 class="main_text" 
          data-aos="fade-left"
          data-aos-duration="2000"

          >Life Hotel</h2>
          <p >We are at your service for a unique holiday</p>
          <button>Learn More  <i class="fa-solid fa-arrow-right"></i> </button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/lifeHotel/slide2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>In Reservations</h5>
          <h2>Discount 70%</h2>
          <p>Don't miss the discount opportunity on reservations</p>
          <button>Learn More  <i class="fa-solid fa-arrow-right"></i> </button>

        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/lifeHotel/slide3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption  d-md-block">
          <h5>Your Dream</h5>
          <h2>Vaccations</h2>
          <p>For your comfort</p>
          <button>Learn More  <i class="fa-solid fa-arrow-right"></i> </button>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon next" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<second-page></second-page>
<third-page></third-page>
<fourth-page></fourth-page>
<fifth-page></fifth-page>
<sixth-page></sixth-page>
<seventh-page></seventh-page>

<app-socialpage></app-socialpage>





