<section>
    <div class="containers">
        <div class="cont_text" 
        data-aos="fade-up"

        >
            <h2> Resent <span>Blog</span> Post </h2>
        </div>



        <owl-carousel-o class="carus" [options]="customOptions">
            <ng-template carouselSlide>
                <div class="cont_images">
            
                    <div class="tilt_box_cont">
        
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
        
        
                        <div class="tilt_box">
                            <img src="../../../assets/sevenPage/news1.png" alt="">
        
                            <h3>What is the Suit Room?</h3>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                            <button>More</button>
                        </div>
                    </div>
                </div>

            </ng-template>  


            <ng-template carouselSlide>

                <div class="cont_images">
            
                    <div class="tilt_box_cont">
        
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
        
        
                        <div class="tilt_box">
                            <img src="../../../assets/sevenPage/news2.png" alt="">
        
                            <h3>What is the Suit Room?</h3>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                            <button>More</button>
                        </div>
                    </div>
                </div>


            </ng-template>  


            <ng-template  carouselSlide>

                <div class="cont_images">
            
                    <div class="tilt_box_cont">
        
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
        
        
                        <div class="tilt_box">
                            <img src="../../../assets/sevenPage/news3.png" alt="">
        
                            <h3>What is the Suit Room?</h3>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                            <button>More</button>
                        </div>
                    </div>
                </div>

            </ng-template>  


            <ng-template carouselSlide>

                <div class="cont_images">
            
                    <div class="tilt_box_cont">
        
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
                        <span class="t_over"></span>
        
        
                        <div class="tilt_box">
                            <img src="../../../assets/sevenPage/news4.png" alt="">
        
                            <h3>What is the Suit Room?</h3>
                            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                            <button>More</button>
                        </div>
                    </div>
                </div>

            </ng-template> 
        </owl-carousel-o>







        <div class="cont_images cont_iamges_hide">
            
            <div class="tilt_box_cont">

                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>


                <div class="tilt_box">
                    <img src="../../../assets/sevenPage/news1.png" alt="">

                    <h3>What is the Suit Room?</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                    <button>More</button>
                </div>
            </div>



            <div class="tilt_box_cont">

                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>


                <div class="tilt_box">
                    <img src="../../../assets/sevenPage/news2.png" alt="">

                    <h3>What is the Suit Room?</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                    <button>More</button>
                </div>
            </div>



            <div class="tilt_box_cont">

                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>


                <div class="tilt_box">
                    <img src="../../../assets/sevenPage/news3.png" alt="">

                    <h3>What is the Suit Room?</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                    <button>More</button>
                </div>
            </div>



            <div class="tilt_box_cont">

                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>
                <span class="t_over"></span>


                <div class="tilt_box">
                    <img src="../../../assets/sevenPage/news4.png" alt="">

                    <h3>What is the Suit Room?</h3>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, quaerat! </p>
                    <button>More</button>
                </div>
            </div>
        </div>
    </div>
</section>

