section{
    width: 100%;
}
.containers{
    width: 95%;
    margin: 0 auto;
    /* height: 60vh; */
}
.cont_text{
    font-weight: 400;
    font-size: 36px;

}
.cont_text span{
    font-weight: 700;
    font-size: 32px;
}
.cont_text{
    text-align: center;
}




.cont_images{
   height: 670px;
   padding: 30px 20px;
   display: flex;
   align-items: center;
}
.cont_iamges_hide{
    display: none;
}

.tilt_box_cont{
    margin: 0 auto;
    width: 380px;
    height: 520px;
    position: relative;
    transition: all .6s ease-out;
    perspective: 1000px;

    cursor: pointer;
}
.tilt_box_cont:hover{
    transition: all .4s linear;
    transform: scale(1.08);
}

.tilt_box{
   width: 100%;
   height: 100%;
   box-shadow: 1px 3px 8px gray;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   transition: 0.6s ease-out;
   transform: rotateX(0deg) rotateY(0deg);
   perspective: 1000px;
   transform-style: preserve-3d;
}
.tilt_box img{
    object-fit: cover;
    height: 52%;
    padding: 0 10px;
}
.tilt_box h3{
    font-size: 15px;
    transform: translateZ(40px);
    font-weight: 700;
}
.tilt_box p{
    width: 80%;
    text-align: center;
    margin-top: 8px;
    transform: translateZ(40px);

}
.tilt_box button{
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-top: 1px;
    background-color: black;
    border-radius: 19px;
    color: white;
    font-size: 17px;
    transform: translateZ(40px);

}
.tilt_box button:hover{
    background-color: green;
}

.t_over{
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
}
.t_over:nth-child(1){left: 0; top: 0;}
.t_over:nth-child(2){left: 33.333%; top: 0;}
.t_over:nth-child(3){left: 66.666%; top: 0;}
.t_over:nth-child(4){left: 0; top: 33.333%;}
.t_over:nth-child(5){left: 33.333%; top: 33.333%;}
.t_over:nth-child(6){left: 66.666%; top: 33.333%;}
.t_over:nth-child(7){left: 0; top: 66.666%;}
.t_over:nth-child(8){left: 33.333%; top: 66.666%;}
.t_over:nth-child(9){left: 66.666%; top: 66.666%;}

.t_over:nth-child(1):hover ~ .tilt_box{transform: rotateX(-10deg) rotateY(10deg);}
.t_over:nth-child(2):hover ~ .tilt_box{transform: rotateX(-10deg) rotateY(0deg);}
.t_over:nth-child(3):hover ~ .tilt_box{transform: rotateX(-10deg) rotateY(-10deg);}
.t_over:nth-child(4):hover ~ .tilt_box{transform: rotateX(0deg) rotateY(10deg);}
.t_over:nth-child(5):hover ~ .tilt_box{transform: rotateX(0deg) rotateY(0deg);}
.t_over:nth-child(6):hover ~ .tilt_box{transform: rotateX(0deg) rotateY(-10deg);}
.t_over:nth-child(7):hover ~ .tilt_box{transform: rotateX(10deg) rotateY(10deg);}
.t_over:nth-child(8):hover ~ .tilt_box{transform: rotateX(10deg) rotateY(0deg);}
.t_over:nth-child(9):hover ~ .tilt_box{transform: rotateX(10deg) rotateY(-10deg);}



@media screen and (max-width: 600px) {
       .carus{
        display: none;
       }
       .cont_iamges_hide{
        width: 100%;
        height: 100%;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        padding: 0;
   
       }
       .tilt_box_cont{
        margin-top: 20px;
       }
       .tilt_box{
    width: 90%;
    margin: 0 auto;
       }
       .tilt_box img{
        width: 90%;
        object-fit: cover;
        height: 52%;
        padding: 0px;
    }
}
