<section>


    <div class="containers">
   <div class="customer">
    <h2>Our Customers</h2>
    <h5>Who Make Us</h5>
   </div>

        <owl-carousel-o class="sss" [options]="customOptions">

            <ng-template carouselSlide>

    <div class="rooms_detail">
        <div class="detail_info">
            <i class="fa-solid fa-quote-right"></i>
            <p>
                Customer satisfaction is among our priorities for us. We have single, double,  in our hotel for one day</p>
        </div>
        <img src="../../../assets/fifthPage/testimonial1.png" alt="">
        <h4>John Doe</h4>
    </div>

            </ng-template>  

            <ng-template carouselSlide>

                <div class="rooms_detail">
                    <div class="detail_info">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>
                            Customer satisfaction is among our priorities , double, family and sea view rooms in our hotel for one day</p>
                    </div>
                    <img src="../../../assets/fifthPage/testimonial2.png" alt="">
                    <h4>Daniel Dwan</h4>
                </div>

            </ng-template>

            <ng-template carouselSlide>

                <div class="rooms_detail">
                    <div class="detail_info">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>
                            Customer satisfaction us. Lorem ipsum consectetur. We have single, double, family and sea view rooms in our hotel for one day</p>
                    </div>
                    <img src="../../../assets/fifthPage/testimonial3.png" alt="">
                    <h4>Harley Smith</h4>
                </div>

            </ng-template> 

            <ng-template carouselSlide>

                <div class="rooms_detail">
                    <div class="detail_info">
                        <i class="fa-solid fa-quote-right"></i>
                        <p>
                            Customer satisfaction is among our priorities for us. We have single, double, family and sea view rooms in our hotel for one day</p>
                    </div>
                    <img src="../../../assets/fifthPage/testimonial4.png" alt="">
                    <h4>Elena Kalensky</h4>
                </div>

            </ng-template> 


          </owl-carousel-o>


    </div>

    
</section>


