<section>
    <div class="containers">
        <div class="cont_image"
         data-aos="fade-up"
         data-aos-duration="1000"
         >
            <img src="../../../assets/lifeHotel/life-hotel.png" alt="">
        </div>

        <div class="cont_info">
                <h3>About Us</h3>
                <h5>Combination of</h5>
                <h3>Comfort and Luxury</h3>
                <p>Customer satisfaction is among our priorities for us. We have single, double, family and sea view rooms in our hotel for one day, a few days or long stays.</p>
                <img src="../../../assets/lifeHotel/divider.jpg" alt="">

                <div class="wifi"
                 data-aos="fade-left"
                 data-aos-duration="1500"
                 data-aos-easing="ease-in-out"

                 >
                    <i class="fa-solid fa-wifi"></i>
                    <h4> Wifi Connection 
                        <p>You will enjoy the comfort in our most luxurious .</p>

                    </h4>
                </div>

                <div class="wifi " 
                data-aos="fade-left"
                data-aos-duration="2000"
                data-aos-easing="ease-in-out"

                >
                    <i class="fa-brands fa-servicestack"></i>
                    <h4>Unlimited Service
                        <p>You will enjoy the comfort in our most luxurious and comfortable rooms.</p>

                    </h4>
                </div>
                
                <div class="wifi "
                 data-aos="fade-left"
                 data-aos-duration="2500"
                 data-aos-easing="ease-in-out"

                 >
                    <i class="fa-solid fa-taxi"></i>
                    <h4>Taxi Service
                        <p>You will enjoy the comfort in our most luxurious and comfortable rooms.</p>
                    </h4>
                </div>

                <button>Get to know us <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</section>


